body {
  margin: 50px;
  font-family: 'FONT';
  /* background-image: url('https://cdn.discordapp.com/attachments/684875151443361849/722739010182709318/TV_cutout.png'); */
  background-repeat: no-repeat;
  background-color: black;
  color: white
}


button {
  margin: none;
  border: none;
  padding: none;
  background: none;
  width: 180px;
  height: 50px;
  color: black;
}
img {
  max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 300px;
    display: block; /* remove extra space below image */
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .div1 { grid-area: 1 / 1 / 2 / 3; overflow: hidden; }
  .div2 { grid-area: 2 / 1 / 3 / 2;}
  .div3 { grid-area: 2 / 2 / 3 / 3; 

   height: 500px;
   overflow: auto;
   position: relative;
  }

  
  

  

.background-blue {
  background-color: blue;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  font-size: 25px;
}

.yellow{
  color: yellow;
}

.red {
  color: red;
}

.green {
  color: rgb(127, 211, 0);
}
.orange {
  color: orange;
}
ul.no-bullets {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

@font-face {
  font-family: 'FONT';
  src: url('./fonts/scoreboard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
