.App {
  text-align: center;
}
body {
  font-family: 'FONT';
}

p {
  font-size: 25px;
  line-height : 3px;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column {
  background-color: black;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  float: left;
  width: 50%;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  display: table;
  clear: both;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

@font-face {
  font-family: 'FONT';
  src: url('./fonts/scoreboard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.background-blue {
  background-color: blue;
  font-size: 25px;
}

.yellow{
  color: yellow;
}

.red {
  color: red;
}

.green {
  color: rgb(127, 211, 0);
}

